PORT=5000
MONGODB_URI=mongodb+srv://farukolawale509_db_user:<db_password>@toolshare-africa.mhqdefm.mongodb.net/?appName=toolshare-africa
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLIENT_URL=http://localhost:5173
NODE_ENV=development
